body {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: arial;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 32px;
}

h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}

/*img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}*/

/*h4, ul, ol {
  text-align: left;
}*/

a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 20px;
}

.cadre {
  background: #f9fcfb;
  border: 3px solid #ffffff;
  margin: 40px 20px;
  padding: 30px 70px;
  border-radius: 5px;
""
}

.avatar {
  width: 1120px;
  height: 490px;
  object-fit: cover;
  border-radius: 0%;
  margin: 10px;
  padding: 30px 10px;

  
}



.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-black {
  color: #333333;

}

.frameborder {
    border: 5px solid #5ea3a3 ;
    margin: 10px;
    padding: 30px 10px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    }

.btn-pink {
  display: inline-block;
  color: white;
  background: #a7d7c5;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0,8;
}

.btn-blue {
  display: inline-block;
  color: #5c8d89;

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-blue:hover {
  color: white;
  opacity: 0,8;
}

.btn-white {
  display: inline-block;
  color: #ffffff;

  margin: 3px;
  padding: 0px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-white:hover {
  color: white;
  opacity: 0,8;
}

.logo {
  height: 120px;
  margin: 1px 
  }

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bae8e8;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #706c61;
}

.link:hover {
  color: #458D2E;
}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
 justify-content: space-between;
 align-items: center;

}

.line-light {
  height: 25px;
  width: 20%;
  background: #fd5e53;

}

.line-medium {
  height: 25px;
  width: 30%;
  background: #fd5e53;
}

.line-hard {
  height: 25px;
  width: 50%;
  background: #fd5e53;
}


.production {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 5px;
}
}